<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
    <title>Document</title>
</head>
<body>
   {{>navbars}}
    
    <!------------------- main Header------------------>

    <div class="container-fluid main-header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!------------ left side div ---------------->
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="images/about.png" alt="about" class="img-fluid" title="sans">
                        </figure>
                     </div>

                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to Weather app</p>
                        <h1>I Am A <span class="text-clr">Stack Developer</span> Developing Website</h1>
                        <a href="#"><button>About Me</button></a>
                    </div>
                     <!------------ right side div ---------------->
                    
                </div>

            </div>

        </div> 
    </div>

    <!------------- footer code --------------->

    {{>footer}}
</body>
</html>